include ../mixins
extends ../layout

block content
	script console.log(!{JSON.stringify(locals)});
	div
		- if (locals.hasMessages) {
			div#login-notice-header
				h1 #{locals.messages}
		- }
		div#login-logo
			a(href="/") vocada
			em 0.0.1
			//-p#login-password-recovery
			//-a(href="user/password-recovery", id="login-password-recovery") recover password
			h3#create-user-header your businesses
			
			- if (locals.businesses.length > 0)
					ul
						for business in locals.businesses
							li #{business.name}

		div#login-powered
			img(src="http://speaksocial.tv/img/powered-by-speak-social.png")