include ../mixins
extends ../layout

block content
	div
		if loginError
			div#login-notice-header
				h1 invalid email and password combination
				p please try again
		else if passwordReset
			div#login-notice-header
				p Password has been reset and sent the provided email address
		div#login-logo
			div #{message}
			div #{locals.message}
			a(href="/") vocada
			em 0.0.1
			//-p#login-password-recovery
			//-a(href="user/password-recovery", id="login-password-recovery") recover password
			h3#create-user-header create user
		div(id="login-form-container", class="login-page-containers float-left")
			mixin createUserForm
		div#login-powered
			img(src="http://speaksocial.tv/img/powered-by-speak-social.png")