include ../mixins
extends ../layout

block content
	p Dashboard
		a(href="/logout") logout
	form(action="/user/delete", method="POST", id="delete-user", accept-charset="utf-8")
		input(type="hidden", name="_method", value="DELETE")
		input(type="submit", value="Delete User")
	a(href="/business/create") create new business
	br
	a(href="/business/list") list your businesses